<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Sample MySQL URL provided  -->
        <property name="connection.url">jdbc:mysql://mysql-2cfc0853-br-lovanshi.a.aivencloud.com:14244/defaultdb</property>
        <property name="connection.username">avnadmin</property>
        <property name="connection.password">avnadmin</property>

        <!-- Show SQL on console -->
        <property name="show_sql">true</property>

        <!--Setting Session context model -->
        <property name="current_session_context_class">thread</property>

    </session-factory>
</hibernate-configuration>